<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Bible</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <nav>
                <h1 class="heading-h1">
                    <a class="heading-h1" href="{{ url_for('bible.index') }}">Bible</a>
                </h1>
            </nav>
            <div class="main">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer>
            <a href="https://kjvbible.xyz">kjvbible.xyz</a>
            <a href="https://joshporter.xyz">joshporter.xyz</a>
        </footer>
    </div>
</body>

</html>
