{% extends "base.html" %}

{% block content %}
<h1>{{ book.book }}</h1>
<h3>Chapter {{ chapter }}</h3>
<a class="link" href="{{ url_for('bible.book', book=book.url)}}">back to {{book.book}}</a>

{% for v in verses %}
<p><span>{{v['v']}}</span> {{v['t']}}</p>
{% endfor %}

<div class="previous-and-next">
    {% if chapter > 1 %}
        <a class="link" href="{{url_for('bible.chapter', book=book.url, chapter=chapter - 1)}}">Previous chapter</a>
    {% endif %}
    {% if chapter < book.chapters %}
        <a class="link" href="{{url_for('bible.chapter', book=book.url, chapter=chapter + 1)}}">Next chapter</a>
    {% endif %}
</div>
{% endblock %}
