{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <h1>Old Testament</h1>
        <ul>
            {% for book in old_testament %}
            <li><a href="/{{old_testament[book].url}}">{{ old_testament[book].book }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h1>Old Testament</h1>
        <ul>
            {% for book in new_testament %}
            <li><a href="/{{new_testament[book].url}}">{{ new_testament[book].book }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
