*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  color: #232023;
  font-family: serif;
}

.container {
    display: grid;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
}

.main {
    padding: 2rem;
    grid-column: 1 / -1;
}

.testaments {
    display: grid;
    max-width: 960px;
    margin: 1rem auto;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}

.testament ul li {
    font-size: 1.4rem;
}

.navigation {
    background-color: #232023;
    grid-column: 1 / -1;
    padding: 1.5rem;
}

.navigation-heading {
    color: white;
    text-decoration: none;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.common-page-style {
    max-width: 960px;
    margin: auto;
}

.verse {
    font-size: 1.4rem;
    padding: .2rem 0;
}

.verse-number {
    font-size: .8rem;
}

.button {
    font-size: 1.2rem;
}

ul {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
}

.link {
    color: black;
}

.chapter-grid {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.chapter-grid li {
    font-size: 1.4rem;
}

.heading {
    margin-bottom: 2rem;
}

.previous-and-next {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 240px) {
    .testaments {
        margin: 0.5rem auto;
        row-gap: 1.5rem;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 600px) {
    .testaments {
        margin: 1rem auto;
        grid-template-columns: 1fr 1fr;
    }
}
